---
import { Icon } from 'astro-icon/components';
const currentPage = Astro.request.url.split('/')[3];

function getCurrentPage(page) {
  switch (currentPage === page) {
    case true:
      return 'bg-lime-600 bg-opacity-80 py-5 w-full text-center font-bold text-white';
      break;
    default:
      return 'font-semibold w-full';
  }
}
---

<script>
  const mobileMenu = document.getElementById('mobileMenu');
  const links = document.querySelectorAll('a');

  links.forEach((link) => {
    link.addEventListener('click', () => {
      mobileMenu.classList.remove('flex');
      mobileMenu.classList.add('hidden');
    });
  });
</script>

<nav
  id='mobileMenu'
  class='hidden absolute z-10 left-0 right-0 bg-gray-100 bottom-0 top-28'
>
  <ul class='w-screen'>
    <li class='flex items-center p-5 justify-between gap-1 cursor-pointer'>
      <a href='/#about' class={getCurrentPage('/#about')}>About</a>
      <!-- <Icon name='iconamoon:arrow-down-2' /> -->
    </li>
    <li class='flex items-center p-5 flex-col cursor-pointer group'>
      <div class='flex items-center justify-between w-full'>
        <a class='font-semibold' href='/products'>Products</a>
        <Icon name='iconamoon:arrow-down-2' />
      </div>

      <ul class='hidden group-hover:flex flex-col'>
        <li
          class='items-center p-5 pl-7 justify-between w-screen text-center cursor-pointer'
        >
          <a href='/products#coffee' class='w-80 px-auto h-full' href='products'
            >Coffee</a
          >
        </li>
        <li
          class='items-center p-5 pl-7 justify-between w-screen text-center cursor-pointer'
        >
          <a href='/products#cardamom' class='w-80 h-full'>Cardamom</a>
        </li>
      </ul>
    </li>
    <li class='flex items-center p-5 justify-between gap-1 cursor-pointer'>
      <a href='/#community' class={getCurrentPage('/#community')}>Community</a>
      <!-- <Icon name='iconamoon:arrow-down-2' /> -->
    </li>
    <li class='flex items-center p-5 flex-col cursor-pointer group'>
      <div class='flex items-center justify-between w-full'>
        <a class='font-semibold' href='/products'>Services</a>
        <Icon name='iconamoon:arrow-down-2' />
      </div>

      <ul class='hidden group-hover:flex flex-col'>
        <li
          class='items-center p-5 pl-7 justify-between w-screen text-center cursor-pointer'
        >
          <a
            class='w-80 px-auto h-full'
            href='/services#conservation-agriculture'
            >Conservation agriculture
          </a>
          <li
            class='items-center p-5 pl-7 justify-between w-screen text-center cursor-pointer'
          >
            <a class='w-80 h-full' href='/services#agroforestry'>Agroforestry</a
            >
          </li>
          <li
            class='items-center p-5 pl-7 justify-between w-screen text-center cursor-pointer'
          >
            <a class='w-80 h-full' href='/services#cover-crops'
              >Use of cover crops</a
            >
          </li>
        </li>
        <li
          class='items-center p-5 pl-7 justify-between w-screen text-center cursor-pointer'
        >
          <a class='w-80 h-full' href='/services#ecological-agriculture'
            >Ecological agriculture</a
          >
        </li>
        <li
          class='items-center p-5 pl-7 justify-between w-screen text-center cursor-pointer'
        >
          <a class='w-80 h-full' href='/services#irrigation-system'
            >Efficient irrigation system</a
          >
        </li>
      </ul>
      <li class='flex items-center p-5 justify-between cursor-pointer'>
        <a href='/roadmap' class={getCurrentPage('/roadmap')}>Roadmap</a>
      </li>
      <li class='flex items-center p-5 justify-between cursor-pointer'>
        <a href='/#contact' class={getCurrentPage('/#contact')}>Contact</a>
      </li>
    </li>
  </ul>
</nav>
