---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <section class='min-h-[70vh] px-10 md:px-36 lg:px-32 py-10 md:py-20'>
    <h3 class='font-semibold text-lime-600 text-5xl md:text-7xl'>Contact</h3>
    <p class='my-8 text-lg'>
      Have a question, comment, or just want to say hello? We'd love to hear
      from you! Use the form below to send us a message, and we'll get back to
      you as soon as possible.
    </p>

    <form></form>
  </section>
</MainLayout>
