---
import { Image } from 'astro:assets';
import MainLayout from '../layouts/MainLayout.astro';
import Roadmap from '../assets/roadmap.jpg';
---

<MainLayout>
  <section class='min-h-screen px-10 lg:px-20 py-16'>
    <h3
      class='font-semibold text-5xl text-center lg:text-justify lg:text-7xl text-lime-600'
    >
      Roadmap
    </h3>

    <p class='text-lg my-10'>
      Discover the exciting journey we have planned for Caficul ($CFL)! Our
      roadmap is a detailed plan that outlines our objectives and key milestones
      for the future of our coin. From developing new features to expanding our
      ecosystem, our roadmap provides a clear vision of our path to success.
      <br />
      <br />
      We invite you to explore our roadmap and be part of our thrilling journey!
      Stay updated on our progress and join us as we move towards a bright future
      for Caficul ($CFL) and our community.
    </p>

    <div
      class='flex flex-col lg:flex-row items-center justify-around my-20 gap-10'
    >
      <ul class='text-lg text-start'>
        <li>
          <b class='text-3xl'>Second quarter</b>
          <ul class='pl-10'>
            <li class='list-disc'>Creation of our website</li>
            <li class='list-disc'>Token creation</li>
            <li class='list-disc'>Associations</li>
            <li class='list-disc'>KDA pool fees</li>
            <li class='list-disc'>X profile verification</li>
          </ul>
        </li>
      </ul>

      <ul class='text-lg text-start'>
        <li>
          <b class='text-3xl'>Third quarter</b>
          <ul class='pl-10'>
            <li class='list-disc'>Presale</li>
            <li class='list-disc'>Listing on Coingecko</li>
            <li class='list-disc'>Listing on CMC</li>
            <li class='list-disc'>Airdrop</li>
            <li class='list-disc'>Listing on Bitcoin.me</li>
          </ul>
        </li>
      </ul>

      <ul class='text-lg text-start'>
        <li>
          <b class='text-3xl'>Fourth quarter</b>
          <ul class='pl-10'>
            <li class='list-disc'>Market within the website</li>
            <li class='list-disc'>Listing on CEX</li>
            <li class='list-disc'>New associations</li>
            <li class='list-disc'>Forum within the website</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class='flex flex-col items-center'>
      <Image src={Roadmap} alt='roadmap' class='mx-auto lg:w-3/5' />
      <a
        href='../assets/roadmap.jpg'
        download
        class='mx-auto px-4 py-3 bg-lime-600 lg:hidden text-white rounded-full text-center mt-10'
        >Download roadmap</a
      >
    </div>
  </section>
</MainLayout>
