---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Logo from '../assets/logo.png';

const currentPage = Astro.request.url.split('/')[3];

function getCurrentPage(page) {
  switch (currentPage === page) {
    case true:
      return 'text-lime-600 font-bold';
  }
}
---

<script>
  const mobileButton = document.getElementById('mobileButton');
  const mobileMenu = document.getElementById('mobileMenu');

  mobileButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>

<header
  class='flex items-center justify-between px-10 py-6 shadow-lg border-b z-20'
>
  <a href='/'>
    <Image class='w-32' src={Logo} alt='Caficul logo' />
  </a>
  <nav>
    <ul class='text-lg lg:flex items-center justify-center gap-6 hidden'>
      <li
        class='flex items-center gap-1 cursor-pointer hover:text-lime-600 hover:font-semibold'
      >
        <a href='/#about' class={getCurrentPage('#about')}>About</a>
        <!-- <Icon name='iconamoon:arrow-down-2' /> -->
      </li>
      <li
        class='flex items-center cursor-pointer flex-col relative group hover:text-lime-600 hover:font-semibold'
      >
        <a class={getCurrentPage('products')} href='/#products'>Products</a>

        <ul
          class='z-10 absolute top-7 text-center border border-lime-600 w-52 hidden group-hover:flex bg-white flex-col rounded-md'
        >
          <li
            class='border-b border-lime-600 p-2 hover:bg-lime-300 hover:text-white'
          >
            <a href='/products#coffee'>Coffee</a>
          </li>
          <li class='p-2 hover:bg-lime-300 hover:text-white'>
            <a href='/products#cardamom'>Cardamom</a>
          </li>
        </ul>
      </li>
      <li
        class='flex items-center gap-1 cursor-pointer hover:text-lime-600 hover:font-semibold'
      >
        <a href='/#community' class={getCurrentPage('#community')}>Community</a>
        <!-- <Icon name='iconamoon:arrow-down-2' /> -->
      </li>
      <li
        class='flex items-center cursor-pointer hover:text-lime-600 hover:font-semibold'
      >
        <a href='/#contact' class={getCurrentPage('contact')}>Contact</a>
      </li>
    </ul>
    <Icon
      id='mobileButton'
      class='lg:hidden text-lime-600'
      size={32}
      name='mdi:hamburger-menu'
    />
  </nav>
</header>
