---

---

<section class='w-full h-[90vh] flex items-center justify-center flex-col'>
  <h2
    class='text-3xl md:text-6xl md:w-2/3 text-center font-semibold text-lime-600'
  >
    Empowering agriculture with blockchain!
  </h2>
  <p class='w-2/3 lg:w-1/2 md:text-xl my-10 text-center text-pretty'>
    Empowering ourselves through blockchain technology to give it real use for
    agricultural products
  </p>

  <div class='flex-col md:flex-row md:text-lg flex gap-4'>
    <a
      class='bg-gradient-to-r from-lime-500 to-green-600 cursor-pointer hover:font-semibold hover:border-2 hover:border-lime-600 px-8 py-3 rounded-full text-white text-center'
      >Learn more</a
    >
    <a
      class='cursor-pointer hover:font-semibold border-2 bg-white border-lime-600 px-8 py-3 rounded-full text-lime-600 hover:bg-lime-500 hover:bg-opacity-80 hover:text-white'
      >Buy some CFL</a
    >
  </div>
</section>
