---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import MobileMenu from '../containers/MobileMenu.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Caficul | Blockchain and Agriculture together</title>
    <link rel='icon' type='image/x-icon' href='/images/CAFICUL-logo.png' />
  </head>
  <body>
    <main>
      <div class='absolute min-h-screen w-full bg-white'>
        <div
          class='absolute min-w-screen w-full bg-[radial-gradient(#adc79f_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_250%)] bg-fixed'
        >
          <Header />
          <MobileMenu />
          <slot />
          <Footer />
        </div>
      </div>
    </main>
  </body>

  <style>
    * {
      scroll-behavior: smooth;
    }
  </style>
</html>
