---
import Header from '../components/Header.astro';
import MobileMenu from '../containers/MobileMenu.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <link rel='icon' type='image/x-icon' href='/images/logo.ico' />
  </head>
  <body>
    <Header />
    <main>
      <MobileMenu />
      <div class='relative min-h-screen w-full bg-white'>
        <div
          class='absolute min-w-screen w-full bg-[radial-gradient(#adc79f_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_250%)] bg-fixed'
        >
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
